.seed-modal .modal-content{
    border-radius: 7px;
    border: none;
    padding: 0 30px 10px;
}
.seed-modal .modal-content .modal-header{
    padding-top: 25px;
    border-bottom: none;
}
.seed-modal p{
    font-size: 14px;
    color: #8A8A8A;
    margin-bottom: -10px;
}

.seed-modal .alert-success {
    background: #F0FBF9;
    border: none;
    color: #529a8d;
    margin-bottom: 20px;
}