/*container*/
.block-container.preview-page{
    /*background: rgba(255, 0, 0, 0.16);*/
}

/*img*/
.treug-right-img{
    position: absolute;
    right: 0;
    top: 0;
    z-index: -2;
}
.shape-left-img{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -2;
}
.aid-img{
    position: absolute;
    left: 0;
    top: 20%;
    z-index: -1;
}
.kun-img{
    position: absolute;
    right: 0;
    bottom: 35%;
    z-index: -1;
}
.kun-stipes-img{
    position: absolute;
    right: 0;
    bottom: 37%;
    z-index: -2;
}

/*buttom*/
.start-link{
    width: 300px;
    padding: 15px 25px;
    background: linear-gradient(92.72deg, #003B30 -1.68%, #008471 92.81%);
    border-radius: 70px;
    font-size: 16px;
    color: var(--color-white);
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 10%;
    bottom: 15%;
    transition: .3s;
}
.start-link:hover{
    margin-right: -10px;
    color: var(--color-white)
}

/*animations*/
