/*container*/
.block-container.preview-page{
    /*background: rgba(255, 0, 0, 0.16);*/
}

/*img*/
.treug-right-img{
    height: 100vh;
    position: absolute;
    right: -50px;
    top: 0;
    z-index: -2;
}
.shape-left-img{
    width: 40%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -2;
}
.aid-img{
    position: absolute;
    left: -2.5%;
    bottom: 40%;
    z-index: -1;
    /*background: red;*/
}
.kun-img{
    position: absolute;
    right: -1%;
    bottom: 33%;
    z-index: -1;
    /*background: green;*/
}
.kun-stipes-img{
    position: absolute;
    right: -2%;
    bottom: 35%;
    z-index: -2;
    /*background: blue;*/
}

/*buttom*/
.start-link{
    width: 300px;
    padding: 15px 25px;
    background: linear-gradient(92.72deg, #003B30 -1.68%, #008471 92.81%);
    border-radius: 70px;
    font-size: 16px;
    color: var(--color-white);
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 10%;
    bottom: 15%;
    transition: .3s;
}
.start-link:hover{
    margin-right: -10px;
    color: var(--color-white)
}

/*MEDIA*/

/*width*/
@media screen and (min-width: 1150px){
    .aid-img{
        left: auto;
        right: 50%;
    }
    .kun-img{
        right: auto;
        left: 30%;
    }
    .kun-stipes-img{
        right: auto;
        left: 30.7%;
    }
    .start-link{
        right: auto;
        left: 65%;
    }
}
@media screen and (min-width: 1520px){
    .kun-img{
        right: auto;
        left: 45%;
    }
    .kun-stipes-img{
        right: auto;
        left: 45.7%;
    }
}

/*!*height*!*/
@media screen and (min-height: 1000px){
    .aid-img{
        bottom: 43%;
    }
    .kun-img{
        bottom: 37%;
    }
    .kun-stipes-img{
        bottom: 38%;
    }
    .start-link{
        bottom: 25%;
    }
}
@media screen and (max-height: 650px){
    .aid-img{
        bottom: 36%;
    }
    .kun-img{
        bottom: 27%;
    }
    .kun-stipes-img{
        bottom: 29%;
    }
    .start-link{
        bottom: 10%;
    }
}

