.form-create-wallet-container h2.light{
    color:var(--bg-black);
    font-weight: 500;
}
.create-pass-container form input{
    margin-top: 15px;
}
.create-pass-container form button{
    padding: 8px 0;
    margin-top: 30px;
}

.form-create-wallet-container footer button{
    width: 100%;
}