.alert.errors-block{
    max-width: 30%;
    margin: 0;
    position: absolute;
    right: 15px;
    top: 15px;
    border: none;
    background: var(--error-bg);
    color: var(--color-white);
    font-size: 12px;
    padding: 10px 20px;
    font-weight: 300;
    z-index: 500;
    transition: .3s;
}