:root{
    --color-white: rgba(255, 255, 255, 0.65);
    --bg-dark:#12131F;
    --bg-nav-left:#1F2028;
}

body{
    overflow: hidden;
}

*{
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,a{
    cursor: pointer;
}

.block-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
