:root{
    --bg-dark:#10121C;
    --color-light:#FFF;
    --color-light-gray:#BFC4CF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: var(--bg-dark);
    overflow: hidden;
}