.fon-wallet-bal{
    width: 100%;
}

.container-top-wallet{
    position: absolute;
    top: 25%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/*container for balance*/
.bal-container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 35px;
}
.bal-container img{
    margin-bottom: 20px;
}
.bal-container h1{
    width: 100%;
    color: var(--color-green);
    text-align: center;
}
.bal-container h1.blue{
    color: var(--color-blue);
}
.bal-container h2{
    color: var(--color-white-opac-6);
}