.block-container.lw-start-page{
    background: linear-gradient(0deg, rgba(202, 228, 222, 0.2), rgba(202, 228, 222, 0.2)), #FFFFFF;
}
.shape-lw{
    width: 70%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.link-back-lw{
    position: absolute;
    top: 10px;
    left: 10px;
}

.lw-start-page-content{
    max-width: 660px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 20%;
    left: 30%;
    /*background: rgba(10, 83, 190, 0.16);*/
}
.lw-start-page-content h2{
    font-weight: 800;
    font-size: 36px;
    color: #434343;
    margin-bottom: 20px;
}
.lw-start-page-content p{
    font-weight: 400;
    font-size: 15px;
    color: rgba(0, 64, 52, 0.5);
    margin: 0;
}

.lw-start-page-content .link-container{
    width: 100%;
}

.create-lw, .recover-lw{
    display: flex;
    width: 300px;
    margin-top: 20px;
    padding: 15px 25px;
    border-radius: 50px;
    text-decoration: none;
    transition: .3s;
}
.create-lw:hover, .recover-lw:hover{
    opacity: .7;
    cursor: pointer;
}

.create-lw{
    color: var(--color-white);
    background: linear-gradient(92.72deg, #003B30 -1.68%, #008471 92.81%);
}
.create-lw:hover{
    color: var(--color-white);
}
.recover-lw{
    color: #004034;
    border: 1px solid #004034;
}
.recover-lw:hover{
    color: #004034;
}


/*MEDIA*/

/*width*/
@media screen and (max-width: 1050px){
    .lw-start-page-content{
        max-width: 600px;
        left: 20%;
    }
    .lw-start-page-content p{
        font-size: 14px;
    }
    .create-lw, .recover-lw{
        margin-top: 15px;
    }
}

/*height*/
@media screen and (min-height: 800px){
    .lw-start-page-content{
        top: 30%;
    }
}
@media screen and (min-height: 1100px){
    .lw-start-page-content{
        top: 37%;
    }
}
@media screen and (max-height: 650px){
    .lw-start-page-content{
        top: 10%;
    }
}