.settings-modal.close .modal-footer{
    align-items: flex-end;
}
.gray-button.modal-close{
    padding: 7px;
}
.gray-button:hover.modal-close:hover,
.gray-button:hover.modal-close:active{
    border: none;
    color: var(--color-white);
    background: var(--color-white-opac-2);
}