/*dots*/
.dots-create{
    position: absolute;
    top: 25%;
    display: flex;
}
.dots-create .dot{
    width: 5px;
    height: 5px;
    background: #3A3A3A;
    border-radius: 5px;
    margin: 0 12px;
}
.dots-create .dot.active{
    background: #04CA73;
}

/*form*/
.form-create-wallet-container form{
    width: 180px;
}
.form-create-wallet-container form input{
    margin-top: 15px;
}
.form-create-wallet-container form button{
    margin-top: 35px;
    padding: 8px 0;
}