.alert.hints-block{
    max-width: 400px;
    min-width: 250px;
    margin: 0;
    position: absolute;
    border: none;
    background: #0086FB;
    color: var(--color-white);
    font-size: 12px;
    padding:0;
    font-weight: 500;
    z-index: 102;
    transition: .3s;
}
.alert.hints-block.onePosAl{
    left: 175px;
    top: 55px;
}
.alert.hints-block.twoPosAl{
    left: 175px;
    top: 120px;
}
.alert.hints-block.thrPosAl{
    left: 175px;
    top: 235px;
}
.alert.hints-block.fourPosAl{
    left: 175px;
    top: 230px;
}
.alert.hints-block.fivePosAl{
    right: 10px;
    top: 110px;
}
.alert.hints-block.sixPosAl{
    right: 150px;
    top: 110px;
}
.alert.hints-block.sevPosAl{
    right: 300px;
    top: 190px;
}
.alert.hints-block.eigPosAl{
    left: 180px;
    bottom:130px;
}
.alert.hints-block.ninPosAl{
    left: 170px;
    bottom: 200px;
}
.alert.hints-block.none{
    display: none;
}

/*podsvetka block*/
.bg-hint-block{
    position: absolute;
    z-index: 102;
    box-shadow: rgba(0,0,0,.7) 0 0 0 10000px;
    transition: .3s;
}
/*total balance*/
.bg-hint-block.onePos{
    left: 0;
    top: 68px;
    width: 160px;
    height: 66px;
    background: rgba(255, 255, 255, 0.07);
}
/*total stacked*/
.bg-hint-block.twoPos{
    left: 0;
    top: 135px;
    width: 160px;
    height: 66px;
    background: rgba(255, 255, 255, 0.07);
}
/*menu*/
.bg-hint-block.thrPos{
    left: 0;
    top: 210px;
    width: 160px;
    height: 122px;
    background: rgba(255, 255, 255, 0.07);
}
/*stacking menu*/
.bg-hint-block.fourPos{
    left: 0;
    top: 250px;
    width: 160px;
    height: 42px;
    background: rgba(255, 255, 255, 0.07);
}
/*deposit button*/
.bg-hint-block.fivePos{
    right: 12px;
    top: 57px;
    width: 176px;
    height: 40px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.07);
}
/*send button*/
.bg-hint-block.sixPos{
    right: 190px;
    top: 57px;
    width: 176px;
    height: 40px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.07);
}
/*calculator*/
.bg-hint-block.sevPos{
    right: 16px;
    top: 111px;
    width: 260px;
    height: 280px;
    background: rgba(255, 255, 255, 0.07);
}
/*graph*/
.bg-hint-block.eigPos{
    left:180px;
    top: 111px;
    width: 716px;
    height: 280px;
    background: rgba(255, 255, 255, 0.07);
}
/*latest trans*/
.bg-hint-block.ninPos{
    left:165px;
    bottom: 0;
    width: 1010px;
    height: 190px;
    background: rgba(255, 255, 255, 0.07);
}
.bg-hint-block.none{
    display: none;
}

.alert.hints-block .content{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: inherit;
    padding: 25px 30px 15px 20px;
}
.alert.hints-block .content p{
    margin: 0 0 10px 0;
    transition: .3s;
}
.alert.hints-block .content img{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.alert.hints-block .content footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.alert.hints-block .content footer p{
    opacity: .7;
    margin: 0;
}
.alert.hints-block .content button{
    font-size: 12px;
    color: #0086FB;
    padding: 3px 15px;
    border-radius: 15px;
    background: var(--color-white);
    border: none;
}