.right-lines-ch{
    width: 35%;
    position: absolute;
    bottom: 0;
    right: 0;
    /*background: black;*/
}

.circles-ch, .helmet-ch{
    position: absolute;
    bottom: 0;
    left: 0;
}
.circles-ch{
    height: 90%;
}
.helmet-ch{
    height: 75%;
}

.lw-start{
    position: absolute;
    right: 25%;
    top: 38%;
}

.mm-start{
    position: absolute;
    right: 20%;
    bottom: 38%;
}

.lw-start, .mm-start{
    width: 300px;
    display: flex;
    padding: 15px 25px;
    border: 1px solid #004034;
    border-radius: 79px;
    color: #004034;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    transition: .3s;
    cursor: pointer;
}
.lw-start:hover, .mm-start:hover{
    border: 1px solid #007867;
    color: #007867;
    background: rgba(240, 240, 240, 0.7);
}


/*MEDIA*/
@media screen and (max-height: 550px){
    .lw-start{
        top: 33%;
    }
    .mm-start{
        bottom: 33%;
    }
}