.auth-content{
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img-auth-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: -30px;
}

/*card image*/
img.card-auth{
    margin-right: 50px;
}

/*buttons container*/
.auth-content .buttons-container{
    padding:10px;
    width: 185px;
    display: flex;
    flex-wrap: wrap;
}
/*buttons spec styles*/
.auth-content .buttons-container button{
    width: 100%;
    font-weight: 300;
    margin-top: 12px;
    padding: 8px 0;
}

/*hr (or) */
.hr-or{
    width: 100%;
    height: auto;
    margin: 30px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hr-or hr{
    width: 40%;
    background: var(--color-white-opac-5);
    height: 1px;
    margin: 0;
}
.hr-or p{
    font-size: 14px;
    font-weight: 200;
    color: var(--color-white-opac-3);
    margin: -4px 0 0 0;
    padding: 0;
}