.navbar-left{
    width: 160px;
    height: 100vh;
    z-index: 100;
    position: absolute;
    background: var(--bg-nav-left);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 25px 0 15px;
}

.navbar-left header{
    width: 100%;
    display: inherit;
    justify-content: inherit;
    flex-wrap: inherit;
}

.navbar-left header .logo{
    width: 90%;
    padding-bottom:25px;
    border-bottom: 1px solid #43444E;
    display: inherit;
    justify-content: inherit;
}

.ai-logo{
    margin-right: 15px;
}

.navbar-left header .menu{
    margin-top: 10px;
    display: inherit;
    flex-wrap: inherit;
    transition: .3s;
}
.navbar-left header .menu a,
.navbar-left footer a{
    width: 100%;
    font-size: 15px;
    color: var(--color-white);
    text-decoration: none;
    padding: 10px 0 10px 25px;
    display: flex;
    align-content: center;
    transition: .3s;
    opacity: .6;
}
.navbar-left header .menu a img,
.navbar-left footer a img{
    margin-right: 12px;
 }

.navbar-left header .menu a:hover,
.navbar-left footer a:hover{
    opacity: 1;
    background: #202325;
}

.navbar-left footer{
    width: 100%;
    display: inherit;
    flex-wrap: inherit;
}

/*wallet page styles for nav*/
.nav-bal-stack{
    margin-top: -1px;
    width: 100%;
    background: #1B1C26;
}
.nav-bal-stack div{
    padding: 15px 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.nav-bal-stack p{
    color: var(--color-white);
    font-size: 12px;
    font-weight: 300;
    margin: 0;
    opacity: .8;
}
.nav-bal-stack h5{
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    color: var(--color-white);
}
.nav-bal-stack h5.green{
    color: #05B969;
}
.nav-bal-stack hr,
.logout-but-cont hr{
    width: 80%;
    margin: auto;
    background: var(--color-white);
}

/*logout button container*/
.logout-but-cont{
    width: 100%;
}