.blue-button{
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--color-white-opac-7);
    width: 180px;
    padding: 10px 20px;
    z-index: 2;
    background: linear-gradient(91.82deg, #0086FB 20.48%, #36A5FF 93.75%);
    border: none;
    border-radius: 30px;
    transition: .3s;
}
.blue-button:hover{
    box-shadow: inset 20px 20px 20px 20px var(--color-white-opac-1);
    color: var(--color-white);
}

/*gray button*/
.gray-button{
    display: flex;
    justify-content: center;
    width: 180px;
    padding: 10px 0;
    color: var(--color-white-opac-7);
    border: none;
    border-radius: 30px;
    background: var(--color-white-opac-1);
    transition: .3s;
}
.gray-button.light{
    font-weight: 400;
    color: var(--bg-black);
    background: var(--bg-black-opac-05);
}
.gray-button:hover{
    color: var(--color-white);
    background: var(--color-white-opac-2);
}
.gray-button.light:hover{
    color: var(--bg-black);
    background: var(--bg-black-opac-15);
}

/*close button*/
.close-button{
    color: var(--color-white);
    font-size: 14px;
    position: absolute;
    top: 12px;
    right: 15px;
    background: none;
    border: none;
    transition: .3s;
}
.close-button.light{
    color: var(--bg-dark);
}
.close-button:hover{
    color: var(--color-white-opac-5);
}
.close-button.light:hover{
    color: var(--color-green);
}

/* button border */
.border-button{
    width: 165px;
    font-size: 13px;
    border-radius: 30px;
    padding: 5px 0;
    background: none;
    color: var(--color-white-opac-8);
    border: 1px solid var(--color-green);
    margin: 0 7px;
    transition: .3s;
}
.border-button.light{
    color: rgba(0, 0, 0, 0.8);
}
.border-button.blue{
    border: 1px solid var(--color-blue);
}
.border-button:hover{
    background: var(--bg-dark);
    color: var(--color-white);
}
.border-button.light:hover{
    background: var(--color-white-opac-8);
    color: var(--bg-black);
}