.help-form{
    width: 65%;
}
.help-form h3{
    font-size: 18px;
    font-weight: 500;
}
.help-form.light h3{
    color: var(--bg-dark);
}
.help-form input,
.help-form textarea{
    width: 100%;
    margin-top: 15px;
}

.help-form .form-text{
    font-weight: 400;
    font-size: 12px;
    color: var(--color-white);
    margin-top: 15px;
}
.help-form.light .form-text{
    color: var(--bg-dark);
}

.help-form textarea{
    color: var(--color-white);
    background: #1E1F29;
    border-radius: 4px;
    margin-top: 0;
    padding: 15px;
    font-size: 13px;
    border: 1px solid rgba(255, 255, 255, 0);
    outline: none;
    margin-bottom: 20px;
    resize: none;
    transition: .3s;
}
.help-form textarea.invalid,
.help-form.light textarea.invalid{
    border-bottom: 1px solid var(--error-bg);
}
.help-form.light textarea{
    color: var(--bg-dark);
    background: #FFF;
}
.help-form.file textarea{
    margin-bottom: 0;
}