.conf-pass-container form{
    width: 200px;
    margin-top: 30px;
}
.conf-pass-container h2{
    width: 100%;
    text-align: center;
}
.conf-pass-container h2.left{
    text-align: left;
}
.conf-pass-container form{
    margin: auto;
}
.conf-pass-container form input{
    margin-top: 20px;
}
.conf-pass-container form button{
    padding: 8px 0;
    margin: 30px auto 0;
}
.conf-pass-container form button.left{
    margin: 20px 0 0 0;
}
.conf-pass-container form button.blue-button{
    padding: 10px 20px;
    justify-content: space-between;
}
.conf-pass-container form button.blue-button:hover{
    padding-right: 10px;
}