.wal-waves-shd{
    position: absolute;
    width: 100%;
}
.wallet-page .container-top-wallet{
    position: absolute;
    top: 20%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*container for balance*/
.bal-container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 35px;
}
.bal-container img{
    margin-bottom: 20px;
}
.bal-container h1{
    width: 100%;
    color: #22F297;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}
.bal-container h3{
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    opacity: 0.6;
}

/*container for buttons*/
.butt-container button a{
    text-decoration: none;
    color: inherit;
}
.butt-container button{
    width: 165px;
    font-size: 13px;
    border-radius: 30px;
    padding: 5px 0;
    background: none;
    color: var(--color-white);
    border: 1px solid #04CA73;
    margin: 0 7px;
    transition: .3s;
}
.butt-container button:hover{
    background: var(--bg-dark);
}