.settings-modal  div.modal-content{
    padding: 10px;
    background: #24252F;
    border: none;
}
.settings-modal .modal-header,
.settings-modal .modal-footer{
    border: none;
}
.settings-modal .modal-body{
    padding: 30px;
}
.settings-modal .modal-footer{
    display: flex;
    justify-content: center;
}
.settings-modal .modal-footer button{
    margin-bottom: 10px;
}
.settings-modal .modal-footer button:hover{
    border: 1px solid var(--color-white);
    background: none;
}

.settings-modal p{
    text-align: center;
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    color: var(--color-white);
}