.block-container.menu.overview{
    justify-content: start;
    align-content: center;
    flex-wrap: wrap;
}

.graph-container{
    margin-left: 30px;
}
.value-change{
    margin: 0 0 40px 60px;
    display: flex;
}
.buttons-date{
    margin: 30px 0 0 60px;
    display: flex;
}
.buttons-date button{
    color: var(--color-white-opac-3);
    background: var(--color-white-opac-1);
    padding: 3px 18px;
    margin-right: 10px;
    border: none;
    transition: .3s;
}
.buttons-date button:hover{
    color: var(--color-white-opac-7);
    background: var(--color-white-opac-2);
}

.value-change .change{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-left: 20px;
}
.value-change .dollar h2{
    font-size: 22px;
    margin: 0;
}
.value-change .dollar p,
.value-change .change p{
    opacity: 0.8;
    font-weight: 300;
}
.value-change .change h3{
    width: 100%;
    color: var(--color-green-04c);
    opacity: 0.8;
    font-weight: 300;
    font-size: 14px;
    margin: 0;
}