.overview{
    position: relative;
    width: 720px;
    height: 45vh;
    justify-content: start;
    align-content: center;
    flex-wrap: wrap;
    background: rgba(27, 28, 38, 0.4);
}
.overview.light{
    background: rgba(255, 255, 255, 0.4);
}

.graph-container{
    position: absolute;
    bottom: 10px;
    left: 5px;
}
.value-change{
    width: 100%;
    position: absolute;
    top: 15px;
    left: 35px;
    display: flex;
    flex-wrap: wrap;
}
.value-change h2{
    width: 100%;
    font-size: 18px;
    margin: 0 0 5px 0;
}
.value-change.light h2{
    color: var(--bg-dark);
}
.value-change h3{
    color: var(--color-green-04c);
    opacity: 0.8;
    font-weight: 300;
    font-size: 14px;
    margin: 0;
}