.seed-first-show{
    width: 350px;
    display: flex;
    flex-wrap: wrap;
}

.seed-first-show h2{
    width: 100%;
    margin-bottom: 30px;
}

/*seed container*/
.seed-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.seed-container header{
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg, #0086FB 0%, #04CA73 100%);
}
.seed-container .seed-text{
    background: var(--bg-black);
    padding: 15px 20px;
}
.seed-container .seed-text p{
    margin: 0;
    font-size: 14px;
    color: var(--color-white);
}

/*button*/
.seed-first-show button{
    width: 280px;
    margin-top: 30px;
    padding: 8px 0;
}